.headerWrapper {
  background: linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));
  background-image: url('../../assets/bg-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.header {
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-size: 64px;
  color: rgb(222, 214, 231);
  margin-bottom: 30px;
  font-family: 'Permanent Marker', cursive;
}

